{% extends 'base.html' %}
{% load static %}
{% block main_content %}
      <!-- create profile form -->
      <section id="register-page" class="content auth">
       
          <div class="container">
            <h1>Create Profile</h1>
              <form method="post" action="{% url "create profile" %}">
                  {{ form }}
                  <input class="btn submit" type="submit" value="Create Profile" />
                  {% csrf_token %}
              </form>
          </div>
      </section>

{% endblock %}